.filter-form {
  font-size: small;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-group {
  grid-column: 1;
}
