.pagination {
  display: flex;
  gap: 1em;
  height: 50px;
}

.page {
  cursor: pointer;
  background-color: gray;
  padding: .5em;
}

.page:hover {
  background-color: black;
  color: white;
}

.current-page {
  text-decoration: underline;
}

.btn-group {
  display: flex;
  margin-left: 1em;
  height: 100%;

  * {
    text-wrap: nowrap;
  }
}
