<table class="table">
  <thead class="thead">
    <tr class="tr">
      @for (col of collumns; track col.prop) {
        <th
          class="th"
          [class]="{'col-active': col.isActive}"
          (mouseenter)="select(col)"
          (mouseleave)="unselect()"
        >
          {{ col.label }}
          <up-icon
            (click)="sortBy(col.prop, col.sorted === 'asc' ? 'desc' : 'asc')"
            class="table-head_col-tool"
            [class]="{reverse: col.sorted === 'asc'}"
          />
        </th>
      }
    </tr>
  </thead>

  <tbody class="tbody">
    @for (item of rows; track item) {
      <tr class="tr">
        @for (col of collumns; track col.prop) {
          <td
            class="td"
            [class]="{'col-active': col.isActive}"
            (mouseenter)="select(col)"
            (mouseleave)="unselect()"
          >{{
              col.prop === 'name'
                ? item[col.prop]?.first + " " + item[col.prop]?.last
                : item[col.prop]
            }}</td>
        }
      </tr>
    }
  </tbody>

  <tfoot class="tfoot">
    <tr class="tr">
      <td class="td" colspan="5">
        <ng-content />
      </td>
    </tr>
  </tfoot>
</table>
