.col-panel {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 15px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1em;
  padding: 1em;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 15px;

  .td,.th {
    padding: 1em;
    text-wrap: nowrap;
    text-align: center;

    &.col-active {
      color: rgb(50, 50, 150);
    }
  }
}

.thead {
  .th {
    padding-top: 0;
    padding-bottom: 0;
  }


  .table-head_col-tool {
    margin-left: 1em;
    transform: rotate(180deg);
    cursor: pointer;
    transition: transform 200ms ease-in-out;

    &.reverse {
      transform: rotate(0deg);
    }
  }
}


.tbody {
  .tr {
    background-color: rgb(200, 200, 200);
    transition:
      color 100ms ease-in-out,
      background-color 100ms ease-in-out;

    &:hover {
      background-color: rgba(50, 50, 120, .1);
      color: rgb(50, 50, 150);
    }
  }

  .td:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.tfoot {
  .td:first-child {
    column-span: 2;
  }
}

.hide {
  display: none;
}
